<header>
  <div class="container">
    <div class="logo">
      <img src="../assets/images/LogoLibreria.png" alt="Library Logo" class="logo-image">
    </div>
    <nav>
      <a [routerLink]="['/authors']" [queryParams]="{searchQuery: searchQuery}">Autores</a>
      <a [routerLink]="['/books']" [queryParams]="{searchQuery: searchQuery}">Libros</a>
      <a [routerLink]="['/control']">Control</a>
      <input 
        type="text" 
        placeholder="Buscar..." 
        class="search-bar" 
        [(ngModel)]="searchQuery" 
        (keydown.enter)="applyFilter()">
      <button style="margin-left: 20px;" (click)="applyFilter()">Filtrar</button>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
