<div class="card-container">
  <div class="card" *ngFor="let author of filteredAuthors" (click)="viewBooks(author.id)">
    <div class="card-content">
      <img [src]="author.image_url" alt="{{author.name}}" *ngIf="author.image_url" class="card-image">
      <h2 class="card-title">{{ author.name }}</h2>
      <p class="card-subtitle">{{ author.birth_date }}</p>
    </div>
  </div>
</div>

<div *ngIf="selectedAuthorBooks.length > 0" class="books-container">
  <h2>Books by Author</h2>
  <ul>
    <li *ngFor="let book of selectedAuthorBooks">
      {{ book.title }} - {{ book.publication_date }}
    </li>
  </ul>
</div>
